{% extends 'layout.twig' %}

{% block content %}


    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Ajouter une absence</h1>
                    <h3 style="text-align: center">Page en cours de développement</h3>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block footer %}

    {{ page.footer }}

{% endblock %}


